//MIXINS

$tBlue: #4F91C7;
$lGreen: #98D289;
$dGreen: #4A8B71;

@mixin gradient($from, $to, $fallback) {
    background: $to;
    background: url($fallback);
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
    background: -o-linear-gradient(top, $from 0%,$to 100%);
    background: -ms-linear-gradient(top, $from 0%,$to 100%);
    background: linear-gradient(to bottom, $from 0%,$to 100%);
}

//GENERIC

html, body
{
    height: 100%;
}

body {
	background: $tBlue;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: helvetica, arial, san-serif;
	font-size: 100%;
}


//UTIL CLASSES
.display-none {display: none;}

.float-left {float: left;}
.float-right {float: right;}

//LAYOUT

#project_nav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10em;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	overflow-x: auto;
	display: block;
	top: 3em;
	
	
	#add-project {
			position: fixed;
			background: $dGreen;
			@include gradient($lGreen,lighten($dGreen, 10%), $dGreen);
			top: 0;
			width: 9em;
			padding: 1em 0;
			text-align: center;
			color: #FFF;
			text-decoration: none;
			box-shadow: 0 0 2px rgba($dGreen,.7);
			text-shadow: 1px 1px 0 rgba($dGreen, .7);
			border-bottom: 1px solid $dGreen;
			border-top: 1px solid $dGreen;
			
			&:hover {
				//background: mix($lGreen, #FFF, 5%);
				background:  #fffffa;
				color: darken($dGreen, 10%);
				border-bottom-color: lighten($dGreen, 20%) ;
				text-shadow:none;
				}
			} 

	#project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-x: auto;
		
		li {
			display: block;
			text-align: center;
			a {
				padding: 1em;
				padding-left: .7em;
				background: #EDEDED;
				display: block;
				border-bottom: #FFF 1px solid;
				color: $tBlue;
				text-decoration: none;
				font-size: .8em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					color: lighten($tBlue, 10%);
					background: #fffff3;
				}
				&.active {
					background: lighten($tBlue, 44%);
					
/*
					&:after {
						content: '';
						width: 0; 
						height: 0; 
						border-top: 19px solid transparent;
						border-bottom: 19px solid transparent;
						border-left: 19px solid lighten($tBlue, 44%);
						position: fixed;
						left: 11.3em;
						top: 4em;
						z-index: 1000;
						}
*/
				}

			}
			
			
		}
	}
	
}

#project-palette {
	bottom: 0;
	top: 0;
	right: 0;
	left: 9em;
	position: absolute;
	text-align: center;
	background: $tBlue;
	z-index: 100;
	overflow-x: auto;
	width: 80%;
	padding-left: 0em;
	overflow-y: hidden;
	border-left: 1px solid darken($tBlue, 25%);
	box-shadow: inset 5px 0 5px darken($tBlue, 10%);
	
	h1, h2, h3 {
		color: $dGreen;
		text-shadow: 1px 1px 0 rgba(#aaa, .2);
		i {
/*
			color: lighten($lGreen, 50%);
			//text-shadow: 0 0 1px darken($dGreen, 10%);
			padding: .25em .3em .25em .4em;
			@include gradient($lGreen,$dGreen, $dGreen);
			border-radius: 10px;
*/
		}
	}
	
	#project-answers {
		list-style: none;
		margin: 0;
		padding: 0;
		border: 3px dashed #DEDEDE;
		background: #eee;
		border-radius: 5px;

		li {
			margin: 0;
			padding: 1em .5em;
			border-bottom: 3px dashed #DEDEDE;
			font-style: italic;
			color: #888;
			
			&:last-child{
				border-bottom: none transparent;
			}

			i {
				color: #AAA;
				opacity: .5;
				cursor: pointer;
				
				&:hover {
					opacity: 1;
					color: $tBlue;
				}
			}
		}
	}
	
	article, #project-controls {
		background: #FFFFFF;
		width: 85%;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		text-align: left;
		padding: 1.3em;
		margin-top: 2em;
		margin-left: 2em;
		margin: 0 auto;
		margin-top: 1em;
		width: 80%;
		transition: all 2s;
		-webkit-transition: all .2s; /* Safari */
		}
		
	article {
		opacity: .65;
		
		&.active {
			opacity: 1;
			margin: inherit auto;
			width: 85%;
			box-shadow: 0 0 10px rgba(0,0,0,.6);
			transform: translateZ();
			}
		}
		
	textarea {
		width: 90%;
		text-align: left;
		height: 10em;
		background: darken(#fff, 1%);
		border-radius: 5px;
		border: #BBB solid 1px;
	}
		
	#project-controls {
		border-radius: 5px;
		background: mix($tBlue, #FFFFFF);
		padding: .7em 1.3em;
		overflow: hidden;
		
		//border: 1px solid #AAA;
		
		.launched {
			color: $dGreen;
		}
	}
	
/*
	#project-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #333;
		color: #fff;
		padding: .5em 0;
		text-align: center;
	}
*/
}