$tBlue: #4F91C7;

html, body
{
    height: 100%;
}

body {
	background: $tBlue;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: helvetica, arial, san-serif;
	font-size: 100%;
}

.display-none {
	display: none;
}

#project_nav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10em;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	overflow-x: auto;
	display: block;
	top: 3em;
	
	
	#add-project {
			position: fixed;
			background: mix(#EEE, $tBlue, 85%);
			top: 0;
			width: 9em;
			padding: 1em 0;
			text-align: center;
			color: darken($tBlue, 10%);
			text-decoration: none;
			box-shadow: 0 0 2px rgba(0,0,0,.2);
			//text-shadow: 0 1px 0 #fff;
			
			&:hover {
				background: mix($tBlue, #FFF, 5%);
				color: darken($tBlue, 10%);
				}
			} 

	#project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-x: auto;
		
		li {
			display: block;
			text-align: center;
			a {
				padding: 1em;
				display: block;
				border-bottom: #eee 1px solid;
				color: $tBlue;
				text-decoration: none;
				font-size: .8em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					background: #EDEDED;
					color: lighten($tBlue, 10%);
				}

			}
			
			
		}
	}
	
}

#project_palette {
	bottom: 0;
	top: 0;
	right: 0;
	left: 9em;
	position: absolute;
	text-align: center;
	background: $tBlue;
	z-index: 100;

	article, #project-controls {
		background: #FFFFFF;
		width: 80%;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		text-align: left;
		margin: 0 auto;
		padding: 5%;
		margin-top: 2em;
		}
		
	textarea {
		width: 90%;
		text-align: left;
	}
		
	#project-controls {
		border-radius: 5px;
		background: mix($tBlue, #FFFFFF);
		padding: 2% 5%;
		
		//border: 1px solid #AAA;
	}
	
/*
	#project-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #333;
		color: #fff;
		padding: .5em 0;
		text-align: center;
	}
*/
}