$tBlue: #4F91C7;
$lGreen: #98D289;
$dGreen: #4A8B71;

@mixin gradient($from, $to, $fallback) {
    background: $to;
    background: url($fallback);
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
    background: -o-linear-gradient(top, $from 0%,$to 100%);
    background: -ms-linear-gradient(top, $from 0%,$to 100%);
    background: linear-gradient(to bottom, $from 0%,$to 100%);
}


html, body
{
    height: 100%;
}

body {
	background: $tBlue;
	position: relative;
	padding: 0;
	margin: 0;
	font-family: helvetica, arial, san-serif;
	font-size: 100%;
}

.display-none {
	display: none;
}

#project_nav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10em;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	overflow-x: auto;
	display: block;
	top: 3em;
	
	
	#add-project {
			position: fixed;
			background: $dGreen;
			@include gradient($lGreen,lighten($dGreen, 10%), $dGreen);
			top: 0;
			width: 9em;
			padding: 1em 0;
			text-align: center;
			color: #FFF;
			text-decoration: none;
			box-shadow: 0 0 2px rgba($dGreen,.7);
			//text-shadow: 0 1px 0 #fff;
			border-bottom: 1px solid $dGreen;
			border-top: 1px solid $dGreen;
			
			&:hover {
				background: mix($lGreen, #FFF, 5%);
				color: darken($dGreen, 10%);
				border-bottom-color: lighten($dGreen, 20%) ;
				}
			} 

	#project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-x: auto;
		
		li {
			display: block;
			text-align: center;
			a {
				padding: 1em;
				background: #EDEDED;
				display: block;
				border-bottom: #FFF 1px solid;
				color: $tBlue;
				text-decoration: none;
				font-size: .8em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					color: lighten($tBlue, 10%);
					background: #FFF;
				}

			}
			
			
		}
	}
	
}

#project_palette {
	bottom: 0;
	top: 0;
	right: 0;
	left: 9em;
	position: absolute;
	text-align: center;
	background: $tBlue;
	z-index: 100;
	
	h1, h2, h3 {
		color: $dGreen;
		
		i {
/*
			color: lighten($lGreen, 50%);
			//text-shadow: 0 0 1px darken($dGreen, 10%);
			padding: .25em .3em .25em .4em;
			@include gradient($lGreen,$dGreen, $dGreen);
			border-radius: 10px;
*/
		}
	}

	article, #project-controls {
		background: #FFFFFF;
		width: 80%;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		text-align: left;
		margin: 0 auto;
		padding: 5%;
		margin-top: 2em;
		}
		
	textarea {
		width: 90%;
		text-align: left;
	}
		
	#project-controls {
		border-radius: 5px;
		background: mix($tBlue, #FFFFFF);
		padding: 2% 5%;
		
		//border: 1px solid #AAA;
	}
	
/*
	#project-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #333;
		color: #fff;
		padding: .5em 0;
		text-align: center;
	}
*/
}