html, body {
  height: 100%; }

body {
  background: #4f91c7;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, san-serif;
  font-size: 100%; }

.display-none {
  display: none; }

#project_nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10em;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  display: block;
  top: 3em; }
  #project_nav #add-project {
    position: fixed;
    background: #DDD;
    top: 0;
    width: 9em;
    padding: 1em 0;
    text-align: center;
    color: #4f91c7;
    text-decoration: none;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: inset 0 0 1px white; }
    #project_nav #add-project:hover {
      background: #f6f9fc;
      color: #3777ac;
      border-bottom-color: #9cc1e0; }
  #project_nav #project-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto; }
    #project_nav #project-list li {
      display: block;
      text-align: center; }
      #project_nav #project-list li a {
        padding: 1em;
        display: block;
        border-bottom: #eeeeee 1px solid;
        color: #4f91c7;
        text-decoration: none;
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        #project_nav #project-list li a:hover {
          background: #EDEDED;
          color: #76a9d3; }

#project_palette {
  bottom: 0;
  top: 0;
  right: 0;
  left: 9em;
  position: absolute;
  text-align: center;
  background: #4f91c7;
  z-index: 100;
  /*
  	#project-controls {
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		background: #333;
  		color: #fff;
  		padding: .5em 0;
  		text-align: center;
  	}
  */ }
  #project_palette article, #project_palette #project-controls {
    background: #FFFFFF;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin: 0 auto;
    padding: 5%;
    margin-top: 2em; }
  #project_palette textarea {
    width: 90%;
    text-align: left; }
  #project_palette #project-controls {
    border-radius: 5px;
    background: #a7c8e3;
    padding: 2% 5%; }
