html, body {
  height: 100%; }

body {
  background: #4f91c7;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, san-serif;
  font-size: 100%; }

.display-none {
  display: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

#project_nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10em;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  display: block;
  top: 3em; }
  #project_nav #add-project {
    position: fixed;
    background: #4a8b71;
    background: #5eaa8c;
    background: url(#4a8b71);
    background: -moz-linear-gradient(top, #98d289 0%, #5eaa8c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98d289), color-stop(100%, #5eaa8c));
    background: -webkit-linear-gradient(top, #98d289 0%, #5eaa8c 100%);
    background: -o-linear-gradient(top, #98d289 0%, #5eaa8c 100%);
    background: -ms-linear-gradient(top, #98d289 0%, #5eaa8c 100%);
    background: linear-gradient(to bottom, #98d289 0%, #5eaa8c 100%);
    top: 0;
    width: 9em;
    padding: 1em 0;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0 0 2px rgba(74, 139, 113, 0.7);
    border-bottom: 1px solid #4a8b71;
    border-top: 1px solid #4a8b71; }
    #project_nav #add-project:hover {
      background: #f9fcf9;
      color: #386a56;
      border-bottom-color: #80bba3; }
  #project_nav #project-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto; }
    #project_nav #project-list li {
      display: block;
      text-align: center; }
      #project_nav #project-list li a {
        padding: 1em;
        padding-left: .7em;
        background: #EDEDED;
        display: block;
        border-bottom: white 1px solid;
        color: #4f91c7;
        text-decoration: none;
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        #project_nav #project-list li a:hover {
          color: #76a9d3;
          background: #FFF; }

#project-palette {
  bottom: 0;
  top: 0;
  right: 0;
  left: 9em;
  position: absolute;
  text-align: center;
  background: #4f91c7;
  z-index: 100;
  /*
  	#project-controls {
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		background: #333;
  		color: #fff;
  		padding: .5em 0;
  		text-align: center;
  	}
  */ }
  #project-palette h1, #project-palette h2, #project-palette h3 {
    color: #4a8b71; }
    #project-palette h1 i, #project-palette h2 i, #project-palette h3 i {
      /*
      			color: lighten($lGreen, 50%);
      			//text-shadow: 0 0 1px darken($dGreen, 10%);
      			padding: .25em .3em .25em .4em;
      			@include gradient($lGreen,$dGreen, $dGreen);
      			border-radius: 10px;
      */ }
  #project-palette #project-answers {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 3px dashed #dedede;
    background: #eee;
    border-radius: 5px; }
    #project-palette #project-answers li {
      margin: 0;
      padding: 1em 0.5em;
      border-bottom: 3px dashed #dedede;
      font-style: italic;
      color: #888; }
      #project-palette #project-answers li:last-child {
        border-bottom: none transparent; }
      #project-palette #project-answers li i {
        color: #AAA;
        opacity: .5;
        cursor: pointer; }
        #project-palette #project-answers li i:hover {
          opacity: 1;
          color: #4f91c7; }
  #project-palette article, #project-palette #project-controls {
    background: #FFFFFF;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 1.3em;
    margin-top: 2em;
    margin-left: 2em; }
  #project-palette textarea {
    width: 90%;
    text-align: left;
    height: 10em;
    background: #fcfcfc;
    border-radius: 5px;
    border: #bbbbbb solid 1px; }
  #project-palette #project-controls {
    border-radius: 5px;
    background: #a7c8e3;
    padding: 0.7em 1.3em;
    overflow: hidden; }
    #project-palette #project-controls .launched {
      color: #4a8b71; }
